* *::before *::after {
  box-sizing: border-box;
}

body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  background: #000;
  font-size: 1rem;
}

.game {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: #d7dadc;
  border-bottom: 1px solid #3a3a3c;
  margin-bottom: 1rem;
  width: 100%;
}
.header .title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
}

.game-grid {
  width: 350px;
  height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: #d7dadc;
  text-transform: uppercase;
  user-select: none;
  transition: transform 250ms linear;
}

.tile[data-state=empty] {
  border: 2px solid #3a3a3c;
}

.tile[data-state=active] {
  border: 2px solid #565758;
}

.tile[data-state=present] {
  background-color: #b59f3b;
}

.tile[data-state=correct] {
  background-color: #538d4e;
}

.tile[data-state=absent] {
  background-color: #3a3a3c;
}

.tile.shake {
  animation: shake 600ms ease-in-out;
}

.tile.dance {
  animation: dance 600ms ease-in-out;
}

.tile.flip {
  transform: rotateX(90deg);
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}
@keyframes dance {
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(2.5%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
.keyboard {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 8px;
  padding-top: 10px;
  height: 200px;
  width: 484px;
  margin: 0 8px;
  box-sizing: border-box;
}

.key {
  grid-column: span 2;
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #818384;
  color: #d7dadc;
  fill: #d7dadc;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

.key[data-state=present] {
  background-color: #b59f3b;
}

.key[data-state=correct] {
  background-color: #538d4e;
}

.key[data-state=absent] {
  background-color: #3a3a3c;
}

.key:hover {
  background-color: #5b5d5d;
}

.key[data-state=present]:hover {
  background-color: #8f7d2e;
}

.key[data-state=correct]:hover {
  background-color: #406c3c;
}

.key[data-state=absent]:hover {
  background-color: #212122;
}

.big-key {
  grid-column: span 3;
  font-size: 12px;
}

.alert-container {
  position: fixed;
  top: 13vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alert {
  pointer-events: none;
  font-weight: bold;
  background-color: #d7dadc;
  padding: 0.75rem;
  border-radius: 0.25rem;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5rem;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}

.alert-W-L {
  pointer-events: none;
  font-weight: bold;
  background-color: #d7dadc;
  padding: 0.75rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5rem;
}

.alert-W-L:last-child {
  margin-bottom: 0;
}

.alert-W-L.show {
  opacity: 1;
}

.alert-W-L.hide {
  opacity: 0;
}

/*# sourceMappingURL=styles.css.map */
